body{
  margin: 0px;
}
nav{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(18,79,86,0.9);
  overflow: auto;
  display: none;
}
nav>li{
  list-style: none;
}
a{
  text-decoration: none;
}
nav>li>a{
  display: block;
  width: 100%;
  height: 50px;
  color: white;
  margin-top: 50px;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: center;
}
#title{
  position: relative;
  width: 100%;
  height: 80px;
  top: 0px;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 10px -3px lightgray;
}
#menuIcon{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 15px;
  left: 50px;
}
#Logo{
  position: absolute;
  left: 38vw;
  height: 80px;
}
#memberBox{
  position: absolute;
  width: 300px;
  height: 70px;
  top: 5px;
  right: 20px;
}
#memberBox>img:nth-child(1){
  width: 66px;
  height: 66px;
  float: left;
  border-radius: 60px;
  border: 2px solid #124F56;
  margin-right: 10px;
}
#memberBox a:nth-child(4)>img{
  float: left;
  width: 40px;
  height: 25px;
  margin: 2.5px 10px 2.5px 10px;
}
#memberBox a:nth-child(5)>img{
  float: left;
  width: 28px;
  height: 20px;
  margin: 6px 0 6px 10px;
}
#unread{
  float: left;
  width: 20px;
  height: 50px;
  color: #124F56;
  margin: 4px 5px 0 5px;
  font-size: 1.1rem;
}
#userName,#session{
  float: left;
  width: 80px;
  height: 40px;
  color: #124F56;
  margin: 0 5px 0 5px;
  font-size: 1.2rem;
}
